<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Headline News</title>

    <meta name="description" content="Simple application for listing headlines from the Financial Times">
    <meta name="author" content="Kat Hicks">
    <meta name="language" content="en">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='/stylesheets/style.css' rel='stylesheet'>
    <link href='/stylesheets/navbar.css' rel='stylesheet'>
    <link href='/stylesheets/headline.css' rel='stylesheet'>
    <link href='/stylesheets/search.css' rel='stylesheet'>


    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><i class="fa fa-search search-icon" id="search-icon" aria-hidden="true"></i></li>
          </ul>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Headline News</a>
        </div>
      </div>
    </nav>

    <%- include search.ejs %>

    <div class="container">
      <% results.forEach(function(item) { %>
        <div class="row">

          <div class="col-md-8 col-md-offset-2">
            <div class="headline-item">
              <h1 class="headline"><%= item.title.title %></h1>
              <p class="summary"><%= item.summary.excerpt %></p>
            </div>
          </div>

        </div>
      <% }) %>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/javascripts/search.js"></script>
  </body>
</html>
