<div class="row">
  <div class="col-md-12">
    <div class="pagination-bar">
      <i class="fa fa-chevron-left" id="page-left" aria-hidden="true"></i>
        <span>You are on page <span id="page-tracker">1</span>
      <i class="fa fa-chevron-right" id="page-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
