<div class="row">
  <div class="col-md-12">
    <div class="search-bar">
      <form class="search-box" action="/search" method="post">
        <input class="search" type="search" name="search" placeholder="Search the FT">
        <input class="button" type="submit" value="Search">
      </form>
    </div>
  </div>
</div>
