<div class="row">
  <div class="col-md-12">
    <div class="search-bar">
      <form id="search-box" class="search-box" action="/search" method="post">
        <input class="search" type="search" name="search" placeholder="Search the FT">
        <input class="button" type="submit" value="Search">
        <i class="fa fa-times" id="close-search" aria-hidden="true"></i>
      </form>
    </div>
  </div>
</div>
