.navbar-default {
  line-height: 5;
  background-image: none;
  background-color: #fff1e0;
}

.navbar-header {
  float: left;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.navbar-brand {
  float: none;
  vertical-align: middle;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
}

.navbar-default .navbar-brand {
  color: #3a3a3a;
}
