.navbar-default {
  background-image: none;
  background-color: #fff1e0;
  height: 95px;
}

.navbar-header {
  float: left;
  padding: 15px;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 40px;
}

.navbar-brand {
  float: none;
  vertical-align: middle;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  position: relative;
  top: 32px;
}

.navbar-default .navbar-brand {
  color: #3a3a3a;
}

.fa-search {
  font-size: 24px;
  color: #3a3a3a;
  position: relative;
  top: 6px;
}

.navbar-collapse {
  position: relative;
  top: 26px;
}

.search-icon {
  cursor: pointer;
}
